{% extends 'dashgumfree.html' %}

{% block title %}Home{% end %}

{% block head %}
  <style type="text/css">
    html, body {
      height: 100%;
    }

    .important {
      color: #336699;
    }

    select[name^=type] {
        width: 100px !important;
    }

    #form-section {
      display: flex;
      align-items: center;
    }
  </style>
{% end %}

{% block content %}
<!-- Check archive section -->
<section id="form-section" class="text-center">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Check damage of your website</h3>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <form class="news-letter" method="GET" action="/memento/check">
          <div class="subscribe-hide">
            <div class="input-group">
              <input class="form-control" type="text" name="url" placeholder="http://www.somesite.com"  required />
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Check &raquo;</button>
              </span>
            </div><!-- /input-group -->
            <div class="subscribe-error"></div>
          </div><!-- /.subscribe-hide -->
          <div class="subscribe-message"></div>
        </form><!-- /.news-letter -->
      </div>
    </div>
  </div><!-- /.container -->
</section><!-- /#subscribe-section -->
<!-- End check archive section -->

<!--<section id="about" class="about">
<div class="container">
  <div class="about-area">
    <div class="about-items">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-6">
          <div class="item">
            <div class="item-top">
              <h3 class="sub-title">What is ArchiveReady?</h3>
            </div>&lt;!&ndash; /.item-top &ndash;&gt;
            <p class="item-description">
              An online tool which evaluates if a website will be archived correctly by web archives, such as the Internet Archive.
            </p>
            <a class="btn" href="#">
              <span class="btn-icon"><i class="fa fa-arrow-circle-right"></i></span>
              More
            </a>
          </div>&lt;!&ndash; /.item &ndash;&gt;
        </div>
        <div class="col-sm-6">
          <div class="item">
            <div class="item-top">
              <h3 class="sub-title">Why bother?</h3>
            </div>&lt;!&ndash; /.item-top &ndash;&gt;
            <p class="item-description">
              Because not all websites are archive ready and this may result in invalid web archives and ultimately in information loss.
            </p>
            <a class="btn" href="#">
              <span class="btn-icon"><i class="fa fa-arrow-circle-right"></i></span>
              More
            </a>
          </div>&lt;!&ndash; /.item &ndash;&gt;
        </div>
        <div class="col-sm-6">
          <div class="item">
            <div class="item-top">
              <h3 class="sub-title">Who is it for?</h3>
            </div>&lt;!&ndash; /.item-top &ndash;&gt;
            <p class="item-description">
              Web professionals who need to check if their websites are archive ready.<br/>
              Web archive engineers who need to evaluate target websites before harvesting and ingestion.<br/>
              Students who need to learn more about digital archiving.
            </p>
            <a class="btn" href="#">
              <span class="btn-icon"><i class="fa fa-arrow-circle-right"></i></span>
              More
            </a>
          </div>&lt;!&ndash; /.item &ndash;&gt;
        </div>
        <div class="col-sm-6">
          <div class="item">
            <div class="item-top">
              <h3 class="sub-title">How does it work?</h3>
            </div>&lt;!&ndash; /.item-top &ndash;&gt;
            <p class="item-description">
              ArchiveReady analyses your website (i.e. HTML, Images, CSS, JS, Sitemaps) and performs complex evaluations in order to calculate Website Archivability from a set of Archivability Facets: Accessibility, Cohesion, Metadata & Standards Compliance.
            </p>
            <a class="btn" href="#">
              <span class="btn-icon"><i class="fa fa-arrow-circle-right"></i></span>
              More
            </a>
          </div>&lt;!&ndash; /.item &ndash;&gt;
        </div>
      </div>
    </div>&lt;!&ndash; /.about-items &ndash;&gt;
  </div>&lt;!&ndash; /.about-area &ndash;&gt;
</div>&lt;!&ndash; /.container &ndash;&gt;
</section>&lt;!&ndash; /#about &ndash;&gt;-->
{% end %}

{% block tail %}
<script type="text/javascript">
  function centeredSearchBox() {
    var bodyH = $('body').outerHeight(true);
    var navbarH = $('.navbar').outerHeight(true);
    var footerH = $('footer').outerHeight(true);

    var margin = 0;
    if(navbarH > footerH) margin = navbarH;
    else margin = footerH;

    $('#form-section').outerHeight(bodyH - 2 * margin, true)
  }

  $( window ).resize(function() {
    centeredSearchBox();
  });

  centeredSearchBox();
</script>
{% end %}
