{% extends 'frontpage.html' %}

{% block title %}Check Damage{% end %}

{% block head %}
<style type="text/css">
  .important {
    color: #336699;
  }

  select[name^=type] {
    width: 100px !important;
  }

  .tab-content {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-top: 0px;
    background-color: #fff;
  }
  .tab-content .tab-title {
    /*border-bottom: 1px solid #ddd;*/
    padding-bottom: 5px;
  }
  .tab-content .tab-title .info {
    font-size: small;
    top: 3px;
    position: relative;
    color: #AF0300;
  }

  #screenshots img {
    width: 100%;
  }

  .inner-result {
    padding: 30px;
  }
  .result-list {
    padding-left:30px;
  }
  .result-list li {
    margin-bottom:7px;
  }
  .custom-ul {
    list-style:none;
  }
  .custom-ul li:before {
    font-family: 'FontAwesome';
    content: '\f046';
    margin:0 15px 0 -25px;
  }
  .result-list .title {
    display: inline-table;
    table-layout: fixed;
    width: 99%;
    font-weight: bold;
    overflow-x: hidden;
    cursor: pointer;
    color: #5cb85c;
  }
  .result-list .title div {
    display: table-cell;
  }
  .result-list .title div:first-child {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .result-list .title div:last-child {
    text-align: right;
  }

  .result-list .title .t-row {
    display: table-row;
  }
  .result-list .title .t-cell {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: table-cell;
    padding: 0 10px 0 0;
    min-width: 300px;
  }

  .result .detail {
    margin-left: 20px;
  }
  .result .info .item {
    display: table-row;
  }
  .result .info .item div {
    display: table-cell;
    padding: 0 10px 0 0;
  }

  .log-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px;
  }
  .log-line:nth-child(even) {
    background: #CCC
  }
  .log-line:nth-child(odd) {
    background: #FFF
  }

  .main-table {
    width: 100%;
  }
  .fixed-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
  }
  .fixed-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .nowrap {
    white-space: nowrap;
  }

  .notes>.title {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: larger;
  }
  .notes>.title span {
    border-bottom: 2px solid;
  }
  .notes>ul {
    padding-left:30px;
    list-style:none;
  }
  .notes>ul>li {
    margin-bottom:7px;
  }
  .notes>ul>li:before {
    content: '\f046';
    margin: 0 15px 0 -30px;
  }
  .notes>ul>li>.title {
    display: inline;
    font-weight: bold;
  }
  .notes ol {
    padding-left: 15px;
  }
  .notes ol li {
    list-style: inherit;
  }

  /*.result {
    padding: 20px 0;
  }*/
  .total-damage {
    text-align: center;
    font-size: large;
    padding: 15px;
  }
  .total-damage span {
    padding: 0 3px;
  }
  .total-damage span:last-child {
    font-weight: bold;
    color: #337ab7;
  }

  .total-damage-detail-button {
    text-align: center;
  }
  .total-damage-detail-button button {
    padding: 2px 12px;
    border: 1px solid;
    border-radius: 5px;
  }

  #damage-detail p {
    padding-bottom: 10px;
  }

  .mjx-chtml {
    font-size: 100% !important;
    text-align: left !important;
  }

  .mjx-block {
    text-align: left !important;
  }

  .summary-step:last-child {
    border-bottom: none;
  }
  .summary-step {
    border-bottom: 1px solid;
    padding-top: 20px;
  }

  /* Table view */
  .rwd-table {
    margin: 1em 0;
    min-width: 300px;
    width: 100%;
  }
  .rwd-table tr td, .rwd-table tr th {
    border-top: 1px solid #ddd;
  }
  .rwd-table tr:last-child td, .rwd-table tr:last-child th {
    border-bottom: 1px solid #ddd;
  }
  .rwd-table th {
    display: none;
  }
  .rwd-table td {
    display: block;
    text-align: left;
    cursor: pointer;
  }
  .rwd-table .info td {
    cursor: auto;
    text-align: left;
  }
  .rwd-table td:first-child {
    padding-top: .5em;
  }
  .rwd-table td:last-child {
    padding-bottom: .5em;
  }
  .rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
  }
  .rwd-table th, .rwd-table td {
    text-align: left;
  }
  .rwd-table th, .rwd-table td {
    margin: .5em 1em;
  }
  .rwd-table .title {
    font-weight: bold;
    overflow-x: hidden;
    color: #5cb85c;
  }
  h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495E;
  }

  @media (min-width: 614px) {
    .rwd-table td:before {
      display: none;
    }
    .rwd-table th, .rwd-table td {
      display: table-cell;
      padding: 5px !important;
    }
    .rwd-table td {
      text-align: center;
    }
    .rwd-table th {
      text-align: center;
      background-color: #f2f2f2;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
      padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
      padding-right: 0;
    }
  }
</style>
{% end %}

{% block content %}
<!-- Check archive section -->
<section id="subscribe-section" class="subscribe-section text-center">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Check damage of your website</h3>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <form class="news-letter" method="GET" action="/memento/check">
          <div class="subscribe-hide">
            <div class="input-group">
              <input class="form-control" type="text" name="url" placeholder="http://www.somesite.com" required />
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Check Again &raquo;</button>
              </span>
            </div><!-- /input-group -->
            <div class="subscribe-error"></div>
          </div><!-- /.subscribe-hide -->
          <div class="subscribe-message"></div>
        </form><!-- /.news-letter -->
      </div>
    </div>
  </div><!-- /.container -->
</section><!-- /#subscribe-section -->
<!-- End check archive section -->

<section id="result">
  <div class="container">

    <div class="row"> <!--Calculation timer-->
      <div class="col-sm-10 col-sm-offset-1">
        <div id="alert-is-finished" class="alert alert-success" style="display:none" role="alert">
          <strong>Finished!</strong> Memento damage calculation is finished in
          <strong><span id="calculation-time"></span></strong> minutes.
        </div>
      </div>
    </div>

    <div id="alert-is-error" class="row"> <!--Error message-->
      <div class="col-sm-10 col-sm-offset-1">
        <div class="alert alert-danger" style="display:none" role="alert">
        </div>
      </div>
    </div>

    <div class="row"> <!--Message result-->
      <div class="col-sm-10 col-sm-offset-1">
        <div id="alert-is-archive" style="display:none" class="alert alert-warning" role="alert">
          <strong>Warning!</strong> This result is an archive damage calculation
          that was done in <strong><span id="archive-time"></span></strong>.
          To make fresh calculation follow this URI
          <strong><a id="fresh-uri" href="#">Fresh Calculation</a></strong>
        </div>
      </div>
    </div>

    <div class="row"> <!--Tab result-->
      <div class="col-sm-10 col-sm-offset-1">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#summary">
            <i class="tab-icon fa fa-circle-o-notch fa-spin"></i>&nbsp;Summary</a>
          </li>
          <li class="uri-r"><a data-toggle="tab" href="#mementos">
            <i class="tab-icon fa fa-circle-o-notch fa-spin"></i>&nbsp;Mementos</a>
          </li>
          <li><a data-toggle="tab" href="#images">
            <i class="tab-icon fa fa-circle-o-notch fa-spin"></i>&nbsp;Images</a>
          </li>
          <li><a data-toggle="tab" href="#csses">
            <i class="tab-icon fa fa-circle-o-notch fa-spin"></i>&nbsp;Stylesheets</a>
          </li>
          <li><a data-toggle="tab" href="#screenshots">
            <i class="tab-icon fa fa-circle-o-notch fa-spin"></i>&nbsp;Screenshots</a>
          </li>
          <li class="fresh"><a data-toggle="tab" href="#log">
            <i class="tab-icon fa fa-circle-o-notch fa-spin"></i>&nbsp;Log</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="summary">
            <!-- <h4 class="tab-title">Summary
              <div class="pull-right info">
                <i class="fa fa-info-circle"></i>
                Click on each item to see more detail
              </div>
            </h4> -->

            <div class="result">
              <div class="inner-result"></div>
            </div>
            <div class="notes alert alert-info collapse" id="damage-detail" role="alert"></div>

            <div class="notes alert alert-info" role="alert">
              <div class="title"><span>Techical Notes</span></div>
              <ul class="content">
                <li>
                  <div class="title">Actual Damage</div>
                  <p>
                    Actual damage is the real damage that happens to your URI.
                    It is computed by list all embedded resources (image, css,
                    javascript, and multimedia), identify which of them are missing,
                    find their importance, and add the importance value together to
                    get the actual damage.
                  </p>
                </li>
                <li>
                  <div class="title">Potential Damage</div>
                  <p>
                    Potential damage is the damage that could happen if all embedded
                    resources are missing. It is calculated by exactly the same way
                    as actual damage.
                  </p>
                </li>
                <li>
                  <div class="title">Total Damage</div>
                  <p>
                    Total damage is the ratio between actual damage and potential
                    damage. It ranges from <code>0</code> - <code>1</code>.
                    The value of <code>1</code> means your URI is <code>100%</code>
                    damaged.<br/>
                    Total damage is computed by using this formula:<br/>
                    $Total Damage=\frac{Actual Damage}{Potential Damage}$
                  </p>
                </li>
                <li>
                  <div class="title">What constitute the damage value?</div>
                  <p>
                    There are 5 components which are considered when computing damage:
                  </p>
                  <ol>
                    <li>Image</li>
                    <li>Css</li>
                    <li>Javascript</li>
                    <li>Multimedia</li>
                    <li>Text</li>
                  </ol>
                  <p>
                    We added together the important values from the embedded resources
                    to get the value of damaged.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" id="mementos">
            <h4 class="tab-title">List of URI-M
              <div class="pull-right info">
                <i class="fa fa-info-circle"></i>
                Click on each item to see more detail
              </div>
            </h4>
            <div class="result"></div>
            <div class="notes alert alert-info" role="alert">
              <div><strong>Techical Notes</strong></div>
            </div>
          </div>
          <div class="tab-pane fade" id="images">
            <h4 class="tab-title">List of Images
              <div class="pull-right info">
                <i class="fa fa-info-circle"></i>
                Click on each item to see more detail
              </div>
            </h4>
            <div class="result"></div>
            <!--<div class="notes alert alert-info" role="alert">
              <div><strong>Techical Notes</strong></div>
            </div>-->
          </div>
          <div class="tab-pane fade" id="csses">
            <h4 class="tab-title">List of Stylesheets
              <div class="pull-right info">
                <i class="fa fa-info-circle"></i>
                Click on each item to see more detail
              </div>
            </h4>
            <div class="result"></div>
            <!--<div class="notes alert alert-info" role="alert">
              <div><strong>Techical Notes</strong></div>
            </div>-->
          </div>
          <div class="tab-pane fade" id="screenshots"></div>
          <div class="tab-pane fade" id="log">
            <h4>Log Progress</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% end %}

{% block tail %}
<script src="{{ static_url('assets/js/md5.js') }}"></script>
<script type="text/javascript">
  $('input[name=url]').val('{{ url }}');
  $('select[name=type]').val('{{ type }}');

  function toggleChevron(e) {
    $(e.target)
      .find("i.indicator")
      .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
  }

  function showScreenshot(uri) {
    $('<img>').attr('src', '/api/damage/screenshot/' + encodeURIComponent(uri))
      .appendTo($('#screenshots'));
  }

  function showSummary(result) {
    var divTotalDamage = $('<div class="total-damage">').appendTo('#summary .result .inner-result');
    $('<span>').html('Total Damage is').appendTo(divTotalDamage);
    $('<span>').html(result['total_damage']).appendTo(divTotalDamage);

    var divHeader = $('<div class="total-damage-detail-button">').appendTo('#summary .result .inner-result');
    $('<button data-toggle="collapse" data-target="#damage-detail">')
      .html('<i class="fa fa-info-circle"></i> Show Detail').appendTo(divHeader);

    // Show Total Damage =======================================================
    var step1 = $('<div class="summary-step" id="summary-step1">').appendTo($('#damage-detail'));

    $(
      '<p>'+
        '$$Total Damage=\\frac{Actual Damage}{Potential Damage}$$' +
      '</p><p>'+
      '$$Total Damage=\\frac{'+ result['actual_damage']['total'] +'}{'+ result['potential_damage']['total'] +'}='+ result['total_damage'] +'$$'
      '</p>'
    ).appendTo(step1);

    // Show Potential Damage ===================================================
    var step2 = $('<div class="summary-step" id="summary-step2">').appendTo($('#damage-detail'));

    $(
      '<p>'+
        '$$Potential Damage = Potential Damage of Images + Potential Damage of Stylesheets$$' +
      '</p>'+
      '<p>'+
      '$$Potential Damage = '+ result['potential_damage']['image'] + ' + '+ result['potential_damage']['css'] +' = '+ result['potential_damage']['total'] +'$$' +
      '</p>' +
      '<p>'+
        '$$Potential Damage of Images = \\sum_{i=0}^n (centrality importance + size importance); n = all images$$' +
      '</p>'
    ).appendTo(step2);
    $('<p>').html(
      'Detail of potential damage of images can be explored in tab <a href="#" class="img-ref">images</a>'
    ).appendTo(step2);

    $('<p>').html(
      '$$Potential Damage of Stylesheets = Tag importance + Ratio importance$$'
    ).appendTo(step2);
    $('<p>').html(
      'Detail of potential damage of stylesheets can be explored in tab <a href="#" class="css-ref">stylesheets</a>'
    ).appendTo(step2);

    // Show Actual Damage ======================================================
    var step3 = $('<div class="summary-step" id="summary-step3">').appendTo($('#damage-detail'));

    $('<p>').html(
      '$$Actual Damage = Potential Damage of Images + Potential Damage of Stylesheets$$'
    ).appendTo(step3);
    $('<p>').html(
      '$$Actual Damage = '+ result['actual_damage']['image'] +
      ' + '+ result['actual_damage']['css'] +' = '+ result['actual_damage']['total'] +'$$'
    ).appendTo(step3);

    $('<p>').html(
      '$$Actual Damage of Images = \\sum_{i=0}^m (centrality importance + size importance); m = missing images$$'
    ).appendTo(step3);
    $('<p>').html(
      'Detail of actual damage of images can be explored in tab <a href="#" class="img-ref">images</a>'
    ).appendTo(step3);

    $('<p>').html(
      '$$Actual Damage of Stylesheets = Tag importance + Ratio importance$$'
    ).appendTo(step3);
    $('<p>').html(
      'Detail of actual damage of stylesheets can be explored in tab <a href="#" class="css-ref">stylesheets</a>'
    ).appendTo(step3);

    $('.img-ref').on('click', function() {
      $('.nav-tabs a[href="#images"]').tab('show')
    });
    $('.css-ref').on('click', function() {
      $('.nav-tabs a[href="#csses"]').tab('show')
    });

    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"damage-detail"]);
  }

  function showImages(images, weight) {
    var table = $('<table class="rwd-table">').appendTo('#images .result');
    $(
      '<thead>'+
        '<tr>'+
          '<th colspan="2" rowspan="2">URI</th>'+
          '<th rowspan="2">Status</th>'+
          '<th colspan="2">Potential Damage</th>'+
          '<th colspan="2">Actual Damage</th>'+
        '</tr>'+
        '<tr>'+
          '<th>Location</th>'+
          '<th>Size</th>'+
          '<th>Location</th>'+
          '<th>Size</th>'+
        '</tr>'+
      '</thead>'
    ).appendTo(table);

    tbody = '<tbody>';
    pdLocation = pdSize = adLocation = adSize = 0;
    images.forEach(function(image, idx) {
      var rectangles = [];
      image['rectangles'].forEach(function(rect) {
        rectangles.push('Left: ' + rect['left'] + ' px, Top: ' + rect['top'] +
          ' px, Width: ' + rect['width'] + ' px, Height: ' + rect['height'] + ' px');
      });

      tbody += '<tr class="title" data-toggle="collapse" data-target="#image-info-'+ idx +'">'+
        '<td data-th="No">'+ (idx+1) +'</td>'+
        '<td data-th="URI" style="text-align: left;">'+ image['url'] +'</td>'+
        '<td data-th="Status">'+ ('status_code' in image ? image['status_code'] : '') +'</td>'+
        '<td data-th="Location">' + ('potential_damage' in image ? image['potential_damage']['location'].toFixed(5) : '-') + '</td>'+
        '<td data-th="Size">' + ('potential_damage' in image ? image['potential_damage']['size'].toFixed(5) : '-') + '</td>'+
        '<td data-th="Location">' + ('actual_damage' in image ? image['actual_damage']['location'].toFixed(5) : '-') + '</td>'+
        '<td data-th="Size">' + ('actual_damage' in image ? image['actual_damage']['size'].toFixed(5) : '-') + '</td>'+
      '</tr>' +
      '<tr id="image-info-'+ idx +'" class="info collapse">'+
        '<td style="border-top-width: 0px;"></td>'+
        '<td colspan="15"><div>'+
          '<div class="item"><div>Content-Type</div><div> : </div><div>'+ image['content_type'] + '</div></div>' +
          '<div class="item"><div>Coverage</div><div> : </div><div>'+ (image['percentage_coverage']*100) + ' %' + '</div></div>' +
          '<div class="item"><div>Rectangles</div><div> : </div><div>'+ rectangles.join('<br/>') +'</div></div>' +
        '</div></td>'+
      '</tr>';

      pdLocation += ('potential_damage' in image ? image['potential_damage']['location'] : 0);
      pdSize += ('potential_damage' in image ? image['potential_damage']['size'] : 0);
      adLocation += ('actual_damage' in image ? image['actual_damage']['location'] : 0);
      adSize += ('actual_damage' in image ? image['actual_damage']['size'] : 0);
    });
    tbody += '</tbody>';
    $(tbody).appendTo(table);

    $(
      '<thead>'+
        '<tr>'+
          '<th colspan="3">Total</th>'+
          '<th>'+ pdLocation.toFixed(5) +'</th>'+
          '<th>'+ pdSize.toFixed(5) +'</th>'+
          '<th>'+ adLocation.toFixed(5) +'</th>'+
          '<th>'+ adSize.toFixed(5) +'</th>'+
        '</tr>'+
        '<tr>'+
          '<th colspan="3">Weight</th>'+
          '<th colspan="4">'+ weight.toFixed(5) +'</th>'+
        '</tr>'+
        '<tr>'+
          '<th colspan="3">Damage</th>'+
          '<th colspan="2">'+ ((pdLocation + pdSize) * weight).toFixed(5) +'</th>'+
          '<th colspan="2">'+ ((adLocation + adSize) * weight).toFixed(5) +'</th>'+
        '</tr>'+
      '</thead>'
    ).appendTo(table);
  }

  function showStylesheets(csses, weight) {
    var table = $('<table class="rwd-table">').appendTo('#csses .result');
    $(
      '<thead>'+
        '<tr>'+
          '<th colspan="2" rowspan="2">URI</th>'+
          '<th rowspan="2">Status</th>'+
          '<th colspan="2">Potential Damage</th>'+
          '<th colspan="2">Actual Damage</th>'+
        '</tr>'+
        '<tr>'+
          '<th>Tag</th>'+
          '<th>Ratio</th>'+
          '<th>Tag</th>'+
          '<th>Ratio</th>'+
        '</tr>'+
      '</thead>'
    ).appendTo(table);

    tbody = '<tbody>';
    pdTag = pdRatio = adTag = adRatio = 0;
    csses.forEach(function(css, idx) {
      if(!css['rules_tag']) css['rules_tag'] = [];

      tbody += '<tr class="title" data-toggle="collapse" data-target="#css-info-'+ idx +'">'+
        '<td data-th="No">'+ (idx+1) +'</td>'+
        '<td data-th="URI" style="text-align:left;">'+ css['url'] +'</td>'+
        '<td data-th="Status">'+ ('status_code' in css ? css['status_code'] : '') +'</td>'+
        '<td data-th="Tag">' + ('potential_damage' in css ? css['potential_damage']['tag'].toFixed(5) : '-') + '</td>'+
        '<td data-th="Ratio">' + ('potential_damage' in css ? css['potential_damage']['ratio'].toFixed(5) : '-') + '</td>'+
        '<td data-th="Tag">' + ('actual_damage' in css ? css['actual_damage']['tag'].toFixed(5) : '-') + '</td>'+
        '<td data-th="Ratio">' + ('actual_damage' in css ? css['actual_damage']['ratio'].toFixed(5) : '-') + '</td>'+
      '</tr>'+
      '<tr id="css-info-'+ idx +'" class="info collapse">'+
        '<td style="border-top-width: 0px;"></td>'+
        '<td colspan="15"><div>'+
          '<div class="item"><div>Rules Selector</div><div> : </div><div>'+ css['rules_tag'].join(', ') + ' <strong>(Total '+ css['rules_tag'].length +')</strong>' + '</div></div>' +
          '<div class="item"><div>Importance</div><div> : </div><div>'+ css['importance'] + '</div></div>'
        '</div></td>'+
      '</tr>';

      pdTag += ('potential_damage' in css ? css['potential_damage']['tag'] : 0)
      pdRatio += ('potential_damage' in css ? css['potential_damage']['ratio'] : 0)
      adTag += ('actual_damage' in css ? css['actual_damage']['tag'] : 0)
      adRatio += ('actual_damage' in css ? css['actual_damage']['ratio'] : 0)
    });
    tbody += '</tbody>';
    $(tbody).appendTo(table);

    $(
      '<thead>'+
        '<tr>'+
          '<th colspan="3">Total</th>'+
          '<th>'+ pdTag.toFixed(5) +'</th>'+
          '<th>'+ pdRatio.toFixed(5) +'</th>'+
          '<th>'+ adTag.toFixed(5) +'</th>'+
          '<th>'+ adRatio.toFixed(5) +'</th>'+
        '</tr>'+
        '<tr>'+
          '<th colspan="3">Weight</th>'+
          '<th colspan="4">'+ weight.toFixed(5) +'</th>'+
        '</tr>'+
        '<tr>'+
          '<th colspan="3">Damage</th>'+
          '<th colspan="2">'+ ((pdTag + pdRatio) * weight).toFixed(5) +'</th>'+
          '<th colspan="2">'+ ((adTag + adRatio) * weight).toFixed(5) +'</th>'+
        '</tr>'+
      '</thead>'
    ).appendTo(table);
  }

  // If type is URI-M, hide tab mementos
  if('{{ type }}'.toUpperCase() != 'uri-r'.toUpperCase()) {
    $('.nav .uri-r').hide();
  }

  // Check mementos if type is URI-M
  if('{{ type }}'.toUpperCase() != 'uri-m'.toUpperCase()) {
    $.get('/memento/mementos', { 'uri-r' : '{{ url }}' }, function(memento_uris) {
      // Change icon to checklist
      $('.uri-r .tab-icon').attr('class', 'tab-icon fa fa-check-square-o')

      // Show data in mementos tab
      var ol = $('<ol>').appendTo($('#mementos'));
      memento_uris.forEach(function(uri) {
        var li = $('<li>').appendTo(ol);
        $('<a>').attr('href', uri).html(uri).appendTo(li);
        var spinnerEl = $('<i>').attr('class', 'fa fa-circle-o-notch fa-spin');
        var statusEl = $('<span>').html('Checking...')
        li.append('&nbsp;').append(spinnerEl).append('&nbsp;').append(statusEl);


        // Check damage by calling function checkDamage
        checkDamageUriM(uri, function() {
          // Change icon to checklist
          if(spinnerEl) spinnerEl.attr('class', 'fa fa-check-square-o')
          if(statusEl) statusEl.html('Finished');
        })
      });
    }, 'json');
  } else {
    checkDamageFinished = false;
    isError = false;

    checkDamageUriM('{{ url }}', {{ fresh }}, function(uri, result) {
      checkDamageFinished = true;

      if(result['error']) {
        if(!isError) {
          $('#alert-is-error .alert')
            .html('<strong>Error!</strong> ' + result['message'] + '. See log tab')
            .show();

          isError = true;
        }
        return;
      }

      // Show alert if result is an archive calculation ================================
      if(result['is_archive'] == true) {
        $('#alert-is-archive').show();
        $('#archive-time').html(result['archive_time']);
        $('#fresh-uri').attr('href', window.location.href + '&fresh=true')
          .html(window.location.href + '&fresh=true');
      }

      // Show summary ==================================================================
      showSummary(result);

      // Show images and stylesheets ===================================================
      for(var key in result) {
        val = result[key];

        if(key == 'images') {
          showImages(val, result['weight']['image']);
        }
        else if(key == 'csses') {
          showStylesheets(val, result['weight']['css']);
        }
      }

      // Show screenshot ===============================================================
      showScreenshot(uri);

      // Change icon to checklist ======================================================
      $('[href="#summary"] .tab-icon').attr('class', 'tab-icon fa fa-check-square-o');
      $('[href="#images"] .tab-icon').attr('class', 'tab-icon fa fa-check-square-o');
      $('[href="#csses"] .tab-icon').attr('class', 'tab-icon fa fa-check-square-o');
      $('[href="#screenshots"] .tab-icon').attr('class', 'tab-icon fa fa-check-square-o');
      $('[href="#log"] .tab-icon').attr('class', 'tab-icon fa fa-check-square-o');

      // Activate tooltip
      $('[data-toggle="tooltip"]').tooltip({container: 'body'});
    });

    // Show progress
    log = $('#log')
    totalLines = 0

    function onCheckProgressFinished(uri, result) {
      if(result.length > 0) {
        lines = result.split('\n');
        lines.forEach(function(line) {
          $('<div class="log-line">').html(line).attr('title', line).appendTo(log);
        });

        totalLines += lines.length;
      }

      if(!checkDamageFinished) {
        progressCheckDamageUriM('{{ url }}', totalLines, onCheckProgressFinished)
      }
    }
    progressCheckDamageUriM('{{ url }}', 0, onCheckProgressFinished)

    // Show error
    function onCheckErrorFinished(uri, result) {
      if(result['error']) {
        if(! isError) {
          $('#alert-is-error .alert')
            .html('<strong>Error!</strong> ' + result['message'] + '. See log tab')
            .show();

          isError = true;
        }
      }

      if(!checkDamageFinished) {
        errorCheckDamageUriM('{{ url }}', onCheckErrorFinished)
      }
    }
    errorCheckDamageUriM('{{ url }}', onCheckErrorFinished)
  }

  function checkDamageUriM(uri, fresh, onFinished) {
    var startTime = new Date().getTime();

    $.get('/api/damage/' + encodeURIComponent(uri) + '/' + fresh, function(result) {
      var totalTime = new Date().getTime() - startTime;
      $('#calculation-time').html(formatTimer(totalTime));
      //$('#alert-is-finished').show();

      // Call onFinished callback
      onFinished(uri, result)
    }, 'json');
  }

  function progressCheckDamageUriM(uri, start, onFinished) {
    setTimeout(function() {
      $.get('/api/damage/progress/' + encodeURIComponent(uri) + '/' + start, function(result) {
        // Call onFinished callback
        onFinished(uri, result)
      });
    }, 3000);
  }

  function errorCheckDamageUriM(uri, onFinished) {
    setTimeout(function() {
      $.get('/api/damage/error/' + encodeURIComponent(uri), function(result) {
        // Call onFinished callback
        onFinished(uri, result)
      }, 'json');
    }, 3000);
  }

  function formatTimer(ms) {
    minutes = Math.floor(ms/3600);
    ms = ms - minutes*3600;
    seconds = Math.floor(ms/60);
    ms = ms - seconds*60;

    return minutes + ':' + seconds + '.' + ms;
  }
</script>
{% end %}
