{% extends 'frontpage.html' %}

{% block title %}Check Damage{% end %}

{% block head %}
  <style type="text/css">
    .important {
      color: #336699;
    }

    select[name^=type] {
        width: 100px !important;
    }

    .tab-content {
      padding: 10px 15px;
      border: 1px solid #ddd;
      border-top: 0px;
      background-color: #fff;
    }

    .damage-uri {
      font-weight: bold;
      font-size: larger;
      overflow-x: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      color: #5cb85c;
    }
  </style>
{% end %}

{% block content %}
<!-- Check archive section -->
<section id="subscribe-section" class="subscribe-section text-center">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Check damage of your website</h3>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <form class="news-letter" method="GET" action="/memento/check">
          <div class="subscribe-hide">
            <div class="input-group">
              <div class = "input-group-btn">
                <select name="type" class="form-control" title="Select Type of URI ...">
                  <option>URI-M</option>
                  <option>URI-R</option>
                </select>
              </div>
              <input class="form-control" type="text" name="url" placeholder="http://www.somesite.com" required />
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Check Again &raquo;</button>
              </span>
            </div><!-- /input-group -->
            <div class="subscribe-error"></div>
          </div><!-- /.subscribe-hide -->
          <div class="subscribe-message"></div>
        </form><!-- /.news-letter -->
      </div>
    </div>
  </div><!-- /.container -->
</section><!-- /#subscribe-section -->
<!-- End check archive section -->

<section id="result">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#summary">
            <i class="tab-icon fa fa-circle-o-notch fa-spin"></i>&nbsp;Summary</a>
          </li>
          <li class="uri-r"><a data-toggle="tab" href="#mementos">
            <i class="tab-icon fa fa-circle-o-notch fa-spin"></i>&nbsp;Mementos</a>
          </li>
          <li><a data-toggle="tab" href="#images">
            <i class="tab-icon fa fa-circle-o-notch fa-spin"></i>&nbsp;Images</a>
          </li>
          <li><a data-toggle="tab" href="#csses">
            <i class="tab-icon fa fa-circle-o-notch fa-spin"></i>&nbsp;Stylesheets</a>
          </li>
          <li><a data-toggle="tab" href="#screenshots">
            <i class="tab-icon fa fa-circle-o-notch fa-spin"></i>&nbsp;Screenshots</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="summary">
            <h3>Summary</h3>
          </div>
          <div class="tab-pane fade" id="mementos">
            <h3>List of URI-M</h3>
          </div>
          <div class="tab-pane fade" id="images">
            <h3>List of Images</h3>
          </div>
          <div class="tab-pane fade" id="csses">
            <h3>List of Csses</h3>
          </div>
          <div class="tab-pane fade" id="screenshots">
            <h3>List of Screenshots</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% end %}

{% block tail %}
<script src="{{ static_url('assets/js/md5.js') }}"></script>
<script src="{{ static_url('check.js', blueprint='Memento') }}"></script>
<script type="text/javascript">
  $('input[name=url]').val('{{ url }}');
  $('select[name=type]').val('{{ type }}');

  function toggleChevron(e) {
    $(e.target)
      .find("i.indicator")
      .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
  }

  // If type is URI-M, hide tab mementos
  if('{{ type }}'.toUpperCase() != 'uri-r'.toUpperCase()) {
    $('.nav .uri-r').hide();
  }

  // Check mementos if type is URI-M
  if('{{ type }}'.toUpperCase() != 'uri-m'.toUpperCase()) {
    $.get('/memento/mementos', { 'uri-r' : '{{ url }}' }, function(memento_uris) {

      // Change icon to checklist
      $('.uri-r .tab-icon').attr('class', 'tab-icon fa fa-check-square-o')

      // Show data in mementos tab
      var ol = $('<ol>').appendTo($('#mementos'));
      memento_uris.forEach(function(uri) {
        var li = $('<li>').appendTo(ol);
        $('<a>').attr('href', uri).html(uri).appendTo(li);
        var spinnerEl = $('<i>').attr('class', 'fa fa-circle-o-notch fa-spin');
        var statusEl = $('<span>').html('Checking...')
        li.append('&nbsp;').append(spinnerEl).append('&nbsp;').append(statusEl);


        // Check damage by calling function checkDamage
        checkDamageUriM(uri, function() {
          // Change icon to checklist
          if(spinnerEl) spinnerEl.attr('class', 'fa fa-check-square-o')
          if(statusEl) statusEl.html('Finished');
        })
      });
    }, 'json');
  } else {
    checkDamageUriM('{{ url }}', function(uri, result) {
      // Show summary
      var olUrlSummaries = $('#summary ol.uri');
      if(olUrlSummaries.length == 0) {
        olUrlSummaries = $('<ol>').attr('class', 'uri')
                          .attr('id', 'summary-uri-list').appendTo($('#summary'));
      }
      var liUrlSummary = $('<li>').appendTo(olUrlSummaries);

      // Collapsible liUrlSummaryContent
      var liUrlSummaryHeader = $('<div>').attr('data-toggle', 'collapse')
                          .attr('data-target', '#summary-' + md5(uri))
                          .attr('data-parent', '#summary-uri-list')
                          .attr('class', 'damage-uri')
                          .appendTo(liUrlSummary);
        $('<span>').html(uri).appendTo(liUrlSummaryHeader);
        $('<i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>').appendTo(liUrlSummaryHeader);
      var liUrlSummaryContent = $('<div>').attr('class', 'collapse')
                          .attr('id', 'summary-' + md5(uri))
                          .appendTo(liUrlSummary);

      olUrlSummaries
        .on('hidden.bs.collapse', toggleChevron)
        .on('shown.bs.collapse', toggleChevron);

      $('<div>').html('Potential Damage : ' + result['potential_damage']).appendTo(liUrlSummaryContent);
      $('<div>').html('Actual Damage : ' + result['actual_damage']).appendTo(liUrlSummaryContent);
      $('<div>').html('Total Damage : ' + result['total_damage']).appendTo(liUrlSummaryContent);

      // Show screenshot
      var olUrlScreenshots = $('#screenshots ol.uri');
      if(olUrlScreenshots.length == 0) {
        olUrlScreenshots = $('<ol>').attr('class', 'uri').appendTo($('#screenshots'));
      }
      var liUrlScreenshot = $('<li>').appendTo(olUrlScreenshots);
      $('<div>').html(uri).appendTo(liUrlScreenshot);
      $('<img>').attr('src', '/memento/screenshot?url=' + uri).appendTo(
        $('<div>').appendTo(liUrlScreenshot)
      );

      // Change icon to checklist
      $('[href="#summary"] .tab-icon').attr('class', 'tab-icon fa fa-check-square-o');
      $('[href="#images"] .tab-icon').attr('class', 'tab-icon fa fa-check-square-o');
      $('[href="#csses"] .tab-icon').attr('class', 'tab-icon fa fa-check-square-o');
      $('[href="#screenshots"] .tab-icon').attr('class', 'tab-icon fa fa-check-square-o');
    });
  }
</script>
{% end %}
