<!doctype html>
<html class="no-overflow">
<head>
    <title>ReplayWeb.page</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script src="ui.js"></script>
</head>
<body>
    <replay-web-page
        deepLink
        embed="replayonly"
        source="/<%= warcFile %>"
        url="<%= pageUrl %>">
    </replay-web-page>
</body>
</html>
