<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% end %} - MementoDamage</title>
    <meta name="description" content="{% block description %}{% end %}" >
    <meta name="author" content="{% block author %}{% end %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <link href="{{ static_url('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('assets/dashgumfree_v2/style.css') }}" rel="stylesheet">
    <link href="{{ static_url('assets/bootstrapValidator/formValidation.min.css') }}" rel="stylesheet">
    <style>
      section {
        margin-bottom: 30px;
      }
    </style>

    <script src="{{ static_url('assets/js/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static_url('assets/js/jquery-ui-1.11.4.js') }}"></script>
    <script>
      $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
          if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
              o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
          } else {
            o[this.name] = this.value || '';
          }
        });
        return o;
      };
    </script>

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block head %}{% end %}
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MementoDamage</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/faq">Faq</a></li>
            <li><a href="/help">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    {% block content %}{% end %}

    <footer>
      <!--<div class="container">
        <div class="col-sm-10 col-sm-offset-1">
          <p class="text-center">A project by <a href="http://erikasiregar.tk">Erika Siregar</a></p>
        </div>
      </div>-->
    </footer>

    <script src="{{ static_url('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('assets/bootstrapValidator/formValidation.min.js') }}"></script>
    <script src="{{ static_url('assets/bootstrapValidator/bootstrap.min.js') }}"></script>
    {% block tail %}{% end %}
  </body>
</html>