<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% end %} - MementoDamage</title>
    <meta name="description" content="{% block description %}{% end %}" >
    <meta name="author" content="{% block author %}{% end %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <link href="{{ static_url('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('assets/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('assets/highlight.js/styles/default.css') }}" rel="stylesheet">

    <script src="{{ static_url('assets/js/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static_url('assets/js/jquery-ui-1.11.4.js') }}"></script>
    <script>
      $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
          if (o[this.name] !== undefined) {
            if (!o[this.name].push) {
              o[this.name] = [o[this.name]];
            }
            o[this.name].push(this.value || '');
          } else {
            o[this.name] = this.value || '';
          }
        });
        return o;
      };
    </script>

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block head %}{% end %}
  </head>
  <body>

  </body>
</html>
